<div>
    <div><h1>{{name}}</h1></div>
    <div><p><dfn>{{description}}</dfn></p></div>
                  
            {{#with history}}
                <b>{{year}},  {{founder}}</b>
            {{/with}}
            <hr>
       <div>
        <div class="display-6">Types:</div>
                
            {{#each types}}              
      
    <a class="nav-link active" aria-current="page" href="#">{{this}}</a>
 
             {{/each}}
                     
        </div>
            <hr>

         <p><b>Syntax:</b></p>
        
        {{#with syntax}} 

              <div class="display-6">Variables:</div>
             {{#each variables}}
            <button type="button" class="btn btn-outline-info">{{this}}</button>
             {{/each}}
                              
        <br>

        <div class="display-6">Functions:</div>
            {{#each functions}}
                <button type="button" class="btn btn-outline-info">{{this}}</button>
             {{/each}}
        <br>

         <div class="display-6">Conditionals:</div>
            {{#each conditionals}}
               <button type="button" class="btn btn-outline-info">{{this}}</button>
            {{/each}}
        <br>

       <div class="display-6">Loops:</div>
            {{#each loops}}
                <button type="button" class="btn btn-outline-info">{{this}}</button>
            {{/each}}
        <br>

            <div class="display-6">Classes:</div> 
            {{#each classes}}
                <button type="button" class="btn btn-outline-info">{{this}}</button>
            {{/each}}

        {{/with}}
            <br>
            <br>

            <div class="card">
                <div class="display-6">Features:</div>
            </div>
             {{#each features}}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="btn btn-info">{{this}}</a>
                </li>
                 {{/each}}
            </ul>

            <br>

            <div class="card">
                <div class="display-6">Libraries:</div>
            </div>
             {{#each libraries}}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">{{this}}</a>
                </li>
                 {{/each}}
            </ul>

            <br>

             <div class="card">
                <div class="display-6">Tools:</div>
            </div>
             {{#each tools}}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">{{this}}</a>
                </li>
                 {{/each}}
            </ul>
           
            <br>

             <div class="card">
                <div class="display-6">Community:</div>
            </div>
             {{#each community}}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">{{name}} ({{type}})</a>
                </li>
                 {{/each}}
            </ul>
                
           
            
           
             
                        
                                   
  
    
        
</div>
           
        
    

             
               
            

                
              
        
              
           
             
               
      
       
        
                  
                  
           

                                    
                
                    
                
             

            

               

                 
                     

                  

        
           
           
                
              
               
                
           
        
                   
                   
               


    

           



          
        
     
  
   
   

           
      


 
   
               
      
       
            
            
                
                  
                                      
                                              
                                          
                     
                 
                           
                           
            
                     
                      
                                                             
                      
    
                
                
               
    
    
      
                    
           
   
   
    




