 <div class= "card">
      <div class="card-body">
    {{#with page_header}}
   <p class="h1 text-center">{{title}}</p>
      
        <div class="text-center text-lowercase">{{description}}</div>
   {{/with}}
<br>

    <div class= "card">
      <div class="card-body">
   {{#with section.about_us.title_list}}
        <div class="display-6 text-end">{{main}}</div> 
        <br>
        <p class="h2 text-end">{{sub}}</p>
       {{/with}} 

   {{#with section.about_us.button}}
        <button class="btn btn-outline-info text-muted">{{text}}</button> 
          {{/with}} 
          
      </div>
      </div>
      
      
      <div class= "card">
      <div class="card-body">
        {{#with section.advantage}}
        
        <h1 class="display-5">{{title}}</h1>
     
         
        {{#with efficiency}}
            <h1 class="display-4">{{title}}</h1>
            <h6 class="text-muted">{{sub_title}}</h6>
            <div class= "text-muted">{{description}}</div>
            <button class="btn btn-outline-warning text-muted">{{button}}</button>      {{/with}}
       
       </div>
       </div>    
       
           
      <div class= "card">
      <div class="card-body">
      {{#with innovation}}
            <div class="display-4 text-center">{{title}}</div>
       <br>
            <h6 class="text-center">{{sub_title}}</h6>
            <br>
            <div class= "text-center">{{description}}</div>
            <button class="btn btn-outline-warning text-muted">{{button}}</button>   
       {{/with}}
       </div>
      </div>  
     
      <br>

      <div class= "card">
      <div class="card-body">
  {{#with collaboration}}
       <h6 class="text-end">{{title}}</h6>
       <h6 class="text-end">{{sub_title}}</h6>
    <br>
      <div class= "text-end">{{description}}</div>
      <button class="btn btn-outline-warning text-muted">{{button}}</button>   
       {{/with}}
       </div>
      </div>  
 {{/with}}

      {{#with section.agreement}}
      <div class="display-5 text-muted">{{title}}</div>

      {{#with info}}
      <h5 class="text-muted">{{sub_title}}</h5>


      <div class= "card">
      <div class="card-body">
      {{#with detail}}
      <div class= "text-muted">{{text}}</div>
      <button type="button" class="btn btn-success">{{button}}</button>
      {{/with}}
      {{/with}}
       </div>
        </div>  
      
        
   {{/with}}
   


     
      


 
   
               
      
       
            
            
                
                  
                                      
                                              
                                          
                     
                 
                           
                           
            
                     
                      
                                                             
                      
    
                
                
               
    
    
      
                    
           
   
   
    




